#
# For a description of the syntax of this configuration file,
# see doc/kconfig/kconfig-language.txt.
#
mainmenu "TroglOS Virtual Devboard Configuration"

# This is where all Qemu and toolchain specific settings go
menu "Target options"

#config SRCARCH
#	string
#	option env="SRCARCH"

config ARCH
	string
	option env="ARCH"

#source "arch/$SRCARCH/Kconfig"

config CROSS_COMPILE
	string "Cross-compiler tool prefix"
	help
	  Same as running 'make CROSS_COMPILE=prefix-' but stored for
	  default make runs in this kernel build directory.  You don't
	  need to set this unless you want the configured kernel build
	  directory to select the cross-compiler automatically.
endmenu

# Kernel specifics: version, rc, cmdline
source "kernel/Kconfig"

# Target system libraries, or dependencies from packages
source "lib/Kconfig"

# Target system daemons, tools
source "packages/Kconfig"
