menu "Boot Loaders and Firmware"

config RPI_BLOBS
       bool "Raspberry Pi Firmware BLOBs"
       help
         Selecting this downloads a released firmware blob tarball (250 MiB)
	 and extracts the required firmware for booting a Raspberry Pi to the
	 images/ sub-directory.
	 
	 These files can later be used to populate an empty SD card using the
	 special `make sdcard` build target.
	 
	 https://github.com/raspberrypi/firmware

config UBOOT
       bool "u-boot - Das U-Boot"
       help
	 Das U-Boot (or just "U-Boot" for short) is Open Source Firmware for
	 Embedded Power Architecture®, ARM, MIPS, x86 and other processors.
	 
	 http://www.denx.de/wiki/U-Boot/

endmenu
