choice
	prompt "Select Target Machine"
	default PPCE500
     	depends on PPC

config PPCE500
	bool "PowerPC e500"

config PPCE500MC
	bool "PowerPC e500mc"

endchoice

config MACH
	string
	default "ppce500"   if PPCE500
	default "ppce500mc" if PPCE500MC
     	depends on PPC
