#
# TroglOS Virtual Devboard Default Configuration
#
CONFIG_CROSS_COMPILE=""

#
# Libraries
#
CONFIG_LIBUEV=y
CONFIG_LIBITE=y
CONFIG_ZLIB=y

#
# Packages
#
CONFIG_BUSYBOX=y
CONFIG_DROPBEAR=y
CONFIG_FINIT=y
CONFIG_INADYN=y
CONFIG_LLDPD=y
CONFIG_MINI_SNMPD=y
CONFIG_UFTPD=y
CONFIG_WATCHDOGD=y
