#
# TroglOS Virtual Devboard Default Configuration
#

#
# Target options
#
CONFIG_CROSS_COMPILE=""

#
# Kernel
#
CONFIG_LINUX_VERSION="4.4.3"
# CONFIG_LINUX_TESTING is not set
CONFIG_LINUX_CMDLINE="root=/dev/ram mem=128M console=ttyAMA0,115200 quiet"

#
# Libraries
#
CONFIG_LIBUEV=y
CONFIG_LIBITE=y
# CONFIG_LIPIFY is not set
CONFIG_ZLIB=y

#
# Networking packages
#
CONFIG_DROPBEAR=y
CONFIG_INADYN=y
CONFIG_LLDPD=y
CONFIG_MINI_SNMPD=y
# CONFIG_MROUTED is not set
# CONFIG_NETCALC is not set
# CONFIG_OMPING is not set
# CONFIG_PIMD is not set
# CONFIG_SMCROUTE is not set
CONFIG_UFTPD=y

#
# System packages
#
CONFIG_BUSYBOX=y
CONFIG_FINIT=y
# CONFIG_STRACE is not set
# CONFIG_TETRIS is not set
CONFIG_WATCHDOGD=y
