choice
	prompt "Select Target Machine"
	default VERSATILE
     	depends on ARM

config VERSATILE
	bool "ARM Versatile-PB"

config RASPBERRY
	bool "Raspberry Pi 2/3"

config SDCARD
	string "SD card device for Raspberry Pi"
	default "/dev/mmcblk0"
	help
	   The device to use for `make sdcard`
	depends on RASPBERRY
endchoice

config MACH
	string
	default "versatile" if VERSATILE
	default "raspberry" if RASPBERRY
     	depends on ARM
