*~
*.o
*.la
*.lo
*.so
.deps
.libs

/aclocal.m4
/autom4te.cache/
/aux
/clixon.xml
/compile
/config.h
/config.h.in
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4
/missing

GPATH
GRTAGS
GTAGS
Makefile
Makefile.in

