menu "Kernel"

choice
	prompt "Build Mode"
	default LINUX_BUILD_IMAGE

config LINUX_BUILD_HEADERS
	bool "Headers"
	help
	  Only extract the headers from the selected
	  version. Typically used to match ABI of the kernel on which
	  your containers are going to run.

config LINUX_BUILD_IMAGE
	bool "Image"
	help
	  Build a full Linux kernel image. This can be used to create
	  a bootable image that can run on hardware, in an emulator
	  (QEMU), or as an application (User Mode Linux).
endchoice

config LINUX_IMAGE
       string "Image Type"
       depends on LINUX_BUILD_IMAGE
       default "zImage"  if ARM
       default "Image"   if ARM64
       default "zImage"  if PPC
       default "bzImage" if X86
       help
         Use this type of kernel image format. If unsure, you probably
         want the default.

config LINUX_VERSION
       string "Linux version"
       help
	 Linux kernel version, downloaded from kernel.org, it is
       	 assumed to be a kernel >= 4.0

config LINUX_TESTING
       bool "Enable Linux testing (-rcN) versions"
       default n
       help
         Enable building testing kernels.

config LINUX_RC
       string "Linux -rcN version"
       depends on LINUX_TESTING
       help
	 Give on the form: -rcN, e.g. -rc2

config LINUX_CMDLINE
       string "Kernel command line"
       default "root=/dev/ram console=ttyAMA0,115200 quiet"
       help
         The command line to pass to the kernel at boot.  Here you can control
	 which init process to start as PID 1, e.g. init=/bin/sh to escape the
	 boot process entirely.  Or other flags, like --debug to debug Finit.

endmenu
