menu "Libraries"

config CONFUSE
       bool "libConfuse"
       help
	 libConfuse is a configuration file parser library, licensed
	 under the terms of the ISC license, and written in C.
	 
	 It supports sections and, lists of, values: strings, integers,
	 floats, booleans.  Other features include single/double-quoted
	 strings, environment variable expansion, functions and nested
	 include statements.  Making it very easy to add configuration
	 file capability to a program using a simple API.
	 
	 https://github.com/martinh/libconfuse

config LIBITE
       bool "libite (LITE)"
       help
	 This is a lightweight helper library with all misc. functions
	 missing on a Linux system, c.f. regular UNIX (OpenBSD).  With
	 some sugar on top.  Your basic frog DNA.

config LIBUEV
       bool "libuEv"
       help
	 uEv is a small Linux-only event loop library used by, e.g.,
	 Finit and uftpd.

config LIPIFY
       bool "lipify - C library for http://ipify.org"
       help
	 Very small C library for http://ipify.org, the open "what's my IP" API.
	 
	 https://github.com/troglobit/lipify/

config LIBMNL
       bool "libmnl, a minimalistic user-space Netlink library"
       help
	 libmnl is a minimalistic user-space library oriented to Netlink
	 developers. There are a lot of common tasks in parsing, validating,
	 constructing of both the Netlink header and TLVs that are repetitive
	 and easy to get wrong. This library aims to provide simple helpers
	 that allows you to re-use code and to avoid re-inventing the wheel. 
	 
	 https://www.netfilter.org/projects/libmnl/

config NCURSES
       bool "Ncurses"
       help
	 Programming library for text-based user interfaces. Provides
	 a replacement for the old BSD curses library, but also compat
	 libraries for termcap.
	 
	 http://invisible-island.net/ncurses/ncurses.html

config ZLIB
       bool "Zlib"
       help
	 Zlib is used by some apps
endmenu
