choice
	prompt "Select Target Platform"
	default ARM

config ARM
	bool "ARM 32-bit"

config ARM64
	bool "ARM 64-bit"

config PPC
	bool "PowerPC 32-bit"

config X86
        bool "AMD/Intel x86"

endchoice

config ARCH
	string
	default "arm" if ARM
	default "arm64" if ARM64
	default "ppc" if PPC
	default "x86" if X86

source "arch/arm/Kconfig"
source "arch/arm64/Kconfig"
source "arch/ppc/Kconfig"
source "arch/x86/Kconfig"
