menu "Target"

choice
	prompt "Select Target Platform"
	default ARM

config ARM
	bool "ARM 32-bit"

config ARM64
	bool "ARM 64-bit"

config PPC
	bool "PowerPC 32-bit"

config X86
        bool "AMD/Intel x86"

endchoice

config ARCH
	string
	default "arm" if ARM
	default "arm64" if ARM64
	default "ppc" if PPC
	default "x86" if X86

source "arch/arm/Kconfig"
source "arch/arm64/Kconfig"
source "arch/ppc/Kconfig"
source "arch/x86/Kconfig"

comment "Toolchain and Build Specific Settings"

config TOOLCHAIN_PREFIX
config TOOLCHAIN_PREFIX
	string "Crosstool-NG toolchain prefix"
	help
	  myrootfs is built using Crosstool-NG which provides a lot of
	  useful tools to, not only cross-compile, but also to create
	  the resulting root file system.

	  The default setting is selected based on the target arch.
	  using GCC and GLIBC, e.g. "arch-unknown-linux-gnu-":

	  Arm      32-bit     arm-unknown-linux-gnueabi-
	  Arm      64-bit     aarch64-unknown-linux-gnu-
	  PowerPC  32-bit     powerpc-unknown-linux-gnu-
	  x86      32/64-bit  x86_64-unknown-linux-gnu-
	default "arm-unknown-linux-gnueabi-" if ARM
	default "aarch64-unknown-linux-gnu-" if ARM64
	default "powerpc-unknown-linux-gnu-" if PPC
	default "x86_64-unknown-linux-gnu-" if X86

endmenu
