BR2_x86_64=y
BR2_x86_corei7=y
BR2_ENABLE_DEBUG=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_BOOTLIN_X86_64_CORE_I7_UCLIBC_BLEEDING_EDGE=y
BR2_TARGET_GENERIC_HOSTNAME="anarchy"
BR2_TARGET_GENERIC_ISSUE="myLinux - Troglobit Software Inc."
BR2_INIT_NONE=y
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_MYLINUX_PATH)/board/common/rootfs $(BR2_EXTERNAL_MYLINUX_PATH)/board/x86_64/rootfs"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_MYLINUX_PATH)/board/x86_64/linux_defconfig"
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y
BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_MYLINUX_PATH)/board/common/busybox.fragment $(BR2_EXTERNAL_MYLINUX_PATH)/board/common/busybox-disable-init.fragment $(BR2_EXTERNAL_MYLINUX_PATH)/board/common/busybox-disable-watchdog.fragment $(BR2_EXTERNAL_MYLINUX_PATH)/board/common/busybox-ifupdown-background-udhcpc.fragment $(BR2_EXTERNAL_MYLINUX_PATH)/board/common/busybox-mount.fragment"
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_SQUASHFS4_LZO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_FINIT=y
